<div class="Contenido">
  <form>
    <div class="row">
      <div class="col">
        <label> <b> Nombre Personaje</b></label>
        <input type="text" class="form-control" placeholder="Nombre" />
      </div>
      <div class="col">
        <label><b>Tipo De Personaje</b></label>
        <select id="inputState" class="form-control">
          <option>Super Heroe</option>
          <option>Villano</option>
        </select>
      </div>
      <div class="col">
        <label><b> Ciudad</b></label>
        <input
          type="text"
          class="form-control"
          placeholder="Ciudad Operación"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label><b>Condición</b></label>
        <select id="inputState" class="form-control">
          <option>Libertad</option>
          <option>Preso</option>
          <option>Muerto</option>
          <option>Desconocido</option>
        </select>
      </div>
      <div class="col">
        <label><b> Poder(es)</b></label>
        <input
          type="text"
          class="form-control"
          placeholder="Poder del personaje"
        />
      </div>
      <div class="col">
        <label><b> Tiene vehiculo</b></label>
        <select id="inputState" class="form-control">
          <option>No Aplica</option>
          <option>Aplica</option>
        </select>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <label><b> Nombre de vehiculo</b></label>
        <input type="text" class="form-control" placeholder="Nombre vehiculo" />
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">
      <b> Crear Personaje </b>
    </button>
  </form>
</div>
