<div class="Contenido">
  <form (submit)="enviarDatos($event)">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoMutante.nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="grupo">Grupo:</label>
      <input type="text" class="form-control" id="grupo" [(ngModel)]="nuevoMutante.grupo" name="grupo" required>
    </div>
    <div class="form-group">
      <label for="ciudad">Ciudad:</label>
      <input type="text" class="form-control" id="ciudad" [(ngModel)]="nuevoMutante.ciudad" name="ciudad" required>
    </div>
    <div class="form-group">
      <label for="condicion">Condición:</label>
      <input type="text" class="form-control" id="condicion" [(ngModel)]="nuevoMutante.condicion" name="condicion" required>
    </div>
    <div class="form-group">
      <label for="tipo_superpoder">Tipo de superpoder:</label>
      <input type="text" class="form-control" id="tipo_superpoder" [(ngModel)]="nuevoMutante.tipo_superpoder" name="tipo_superpoder" required>
    </div>
    <div class="form-group">
      <label for="vehiculo">Vehículo:</label>
      <input type="text" class="form-control" id="vehiculo" [(ngModel)]="nuevoMutante.vehiculo" name="vehiculo" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar datos</button>
  </form>
</div>
