<nav>
  <img class="  " src="../../assets/logo Marvel.png" alt="logo" />
  <ul class="navegacion">
    <li><div class="navegacion-item"><a routerLink="/inicio" routerLinkActive="active">Inicio</a></div></li>
    <li><div class="navegacion-item"><a routerLink="/mutantes" routerLinkActive="active">Mutantes</a></div></li>
    <li><div class="navegacion-item"><a routerLink="/creacionseres" routerLinkActive="active">Registro Mutantes</a></div></li>
    <li><div class="navegacion-item"><a routerLink="/vehiculos" routerLinkActive="active">Vehiculos</a></div></li>
    <li><div class="navegacion-item"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></div></li>
  </ul>
</nav>



