<nav>
  <img class="  " src="../../assets/logo Marvel.png" alt="logo" />
  <ul class="navegacion">
    <li><div class="navegacion-item"><a routerLink="/inicio" routerLinkActive="active"><i class="fa-solid fa-house"></i> Inicio</a></div></li>
    <li><div class="navegacion-item"><a routerLink="/mutantes" routerLinkActive="active"><i class="fa-solid fa-user"></i> Mutantes</a></div></li>
    <li><div class="navegacion-item"><a routerLink="/creacionseres" routerLinkActive="active"><i class="fa-solid fa-address-book"></i> Registro Mutantes</a></div></li>
    <li><div class="navegacion-item"><a routerLink="/vehiculos" routerLinkActive="active"><i class="fa-solid fa-bicycle"></i> Vehiculos</a></div></li>
  </ul>
</nav>



