<nav>
  <div style="text-align: center">
    <img class="imglogo" src="../../assets/logo Marvel.png" alt="logo" />
  </div>
  <ul class="navegacion">
    <li>
      <div class="navegacion-item">
        <a routerLink="/inicio" routerLinkActive="active"
          ><i class="fa-solid fa-house"></i> Inicio
        </a>
      </div>
    </li>
    <li>
      <div class="navegacion-item">
        <a routerLink="/creacionseres" routerLinkActive="active"
          ><i class="fa-solid fa-address-book"></i> Registro Mutantes
        </a>
      </div>
    </li>
    <li>
      <div class="navegacion-item">
        <a routerLink="/mutantes" routerLinkActive="active"
          ><i class="fa-solid fa-user"></i> Mutantes
        </a>
      </div>
    </li>
    <li>
      <div class="navegacion-item">
        <a routerLink="/vehiculos" routerLinkActive="active"
          ><i class="fa-solid fa-bicycle"></i> Vehículos
        </a>
      </div>
    </li>
  </ul>
  <br /><br /><br />
  <img src="../../assets/pnghulk.png" alt="" style="max-width: 100%" />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</nav>
